@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.58;
  color: #373F49;
  background: #eee;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: normal;
}

a {
  color: currentColor;
}

p {
  max-width: 48rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.background {
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.wrapper {
  background: #fff;
  grid-column-start: 3;
  grid-column-end: 11;
  padding: 0 2rem;
}

.index-wrapper {
  background: #fff;
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 0 2rem;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  font-size: 3rem;
  padding: 0 0 0.4rem 0;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
